<div class="arCardsWrap">
	<div class="arCards">
		<img 	src="https://avatars.githubusercontent.com/u/47777673?v=4" />
		<article>
			<h3>One</h3>
			<p>Lorem ipsum dolor sit amet consectetur 	adipisicing elit.</p>
		</article>
	</div>

	<div class="arCards">
		<img 	src="https://avatars.githubusercontent.com/u/47777673?v=4" />
		<article>
			<h3>One</h3>
			<p>Lorem ipsum dolor sit amet consectetur 	adipisicing elit.</p>
		</article>
	</div>

	<div class="arCards">
		<img 	src="https://avatars.githubusercontent.com/u/47777673?v=4" />
		<article>
			<h3>One</h3>
			<p>Lorem ipsum dolor sit amet consectetur 	adipisicing elit.</p>
		</article>
	</div>

</div>