<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">

		<%# Cards %>
		<div class="arCards">
				<div class="imgContainer arCard1"></div>
				<article>
					<h3>Skeleton Clavicle</h3>
					<p>The Skeleton Clavicle (or the collar bone) provides structural support between the shoulder and rest of the skeleton</p>
				</article>
				<a href="https://go.echoar.xyz/jN3D" target="_blank"><button class="buttonPrimary">View in AR</button></a>
			</div>

		<div class="arCards">
			<div class="imgContainer arCard2"></div>
			<article>
				<h3>Human Brain</h3>
				<p>The human brain. A very vital organ in the human body.</p>
			</article>
			<a href="https://go.echoar.xyz/rceB" target="_blank"><button class="buttonPrimary">View in AR</button></a>
		</div>

		<div class="arCards">
			<div class="imgContainer arCard3"></div>
			<article>
				<h3>Human Skull</h3>
				<p>The skull is pretty much the skeleton for ones head, vital bone structure.</p>
			</article>
			<a href="https://go.echoar.xyz/dnKE" target="_blank"><button class="buttonPrimary">View in AR</button></a>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard4"></div>
			<article>
				<h3>Lungs</h3>
				<p>The lungs allow us to breath and filter out any bad stuff from staying in your body.</p>
			</article>
			<a href="https://go.echoar.xyz/Fapd" target="_blank"><button class="buttonPrimary">View in AR</button></a>
		</div>


    <div class="arCards">
			<div class="imgContainer arCard5"></div>
			<article>
				<h3>Elephant</h3>
				<p>Elephants are endangered creatures because of precious material ivory which are what Elephant tusks are made of, only few Elephants remain.</p>
			</article>
			<a href="https://console.echoar.xyz/webar?key=autumn-math-2618&entry=ce2896ed-fbe0-4986-9e47-ed15a010c505" target="_blank"><button class="buttonPrimary">View in AR</button></a>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard6"></div>
			<article>
				<h3>Artic Fox</h3>
				<p>The Artic Fox otherwise known as a White Fox, is a animal native to Artic tundra biome.</p>
			</article>
			<a href="https://go.echoar.xyz/cvwE" target="_blank"><button class="buttonPrimary">View in AR</button></a>
		</div>

</div>