<div class="features">
	<div class="heading">
			<h2>Features</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br />
				Eligendi quam facere accusamus sed aperiam tempore molestiae, eum earum similique! Labore.
			</p>
		</div>
	<div class="cards">
		
		<div class="card">
			<img src="https://avatars.githubusercontent.com/u/47777673?v=4" alt="">
			<h3>ONE</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Sint officiis sapiente repudiandae porro voluptatum quasi voluptate.</p>
		</div>
		
		<div class="card">
			<img src="https://avatars.githubusercontent.com/u/47777673?v=4" alt="">
			<h3>Two</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Sint officiis sapiente repudiandae porro voluptatum quasi voluptate.</p>
		</div>
		
		<div class="card">
			<img src="https://avatars.githubusercontent.com/u/47777673?v=4" alt="">
			<h3>Three</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Sint officiis sapiente repudiandae porro voluptatum quasi voluptate.</p>
		</div>
	</div>
</div>