<div class="features">
	<div class="heading">
			<h2>Features</h2>
			<p>Here are SPED's features
			</p>
		</div>
	<div class="cards">
		
    <a href="/cam">
		<div class="card">
			<img src="https://avatars.githubusercontent.com/u/47777673?v=4" alt="">
			<h3>Emotion Camera</h3>
			<p>This allows teachers to gauge students mood, such as confused, happy, etc. Then adjust their lesson accordingly.</p>
		</div></a>
		
    <a href="/vr">
		<div class="card">
			<img src="https://avatars.githubusercontent.com/u/47777673?v=4" alt="">
      <h3>Virtual Reality Learning</h3>
			<p>This feature uses virtual reality to show items better remotely, such as skeletons for biology!</p>
		</div></a>
		

    <a href="#">
		<div class="card">
			<img src="https://avatars.githubusercontent.com/u/47777673?v=4" alt="">
			<h3>Text-to-Speech Learning</h3>
			<p>This feature aims to help those with vision or reading disabilities</p>
		</div></a>
	</div>
</div>