<div class="features">
	<div class="heading">
			<h2>Features</h2>
			<p>Here are SPED's features
			</p>
		</div>
    <img src="/media/dots.svg" class="dots">
	<div class="cards">
		
    <a href="/cam">
		<div class="card">
			<img src="https://www.pngkey.com/png/full/17-172850_emoticon-emoji-clipart-info-wink-emoji-clipart.png"alt="">
			<h3>Emotion Camera</h3>
			<p>In a classroom setting, it's easy to identify when a student is confused about the topic that is being taught, but in a virtual setting it is significantly hard. The Emotion Camera allows teachers to gauge students mood (confused, happy, sad, normal) and assess their understanding of the lesson, to adjust their lectures accordingly.</p>
		</div></a>
		
    <a href="/vr">
		<div class="card">
			<img src="https://blogs.stockton.edu/blondebuilttobalance/files/2019/12/woman-and-virtual-reality.jpg" alt="">
      <h3>Augmented Reality Learning</h3>
			<p>Several children prefer to see a depiction or representation of objects for better understanding. This feature utilizes virtual reality to display items better remotely. For example, it shows a 3D model of a human skeleton for a better understanding.</p>
 
		</div></a>
		

    <a href="#">
		<div class="card">
			<img src="https://vmacwrites.files.wordpress.com/2017/03/unknown.png" alt="">
			<h3>Text-to-Speech Learning</h3>
			<p>This feature caters to children with vision or reading disabilities (children with Dyslexia). Using this feature, children will be able to listen to the text in front of them. Aditionally, they will also be able to type, save, and listen to their notes.</p> 
      
		</div> </a>

    <a href="#">
		<div class="card">
			<img src="https://www.pinclipart.com/picdir/big/536-5362363_text-to-speech-icon-clipart.png" alt="">
			<h3>Speech-to-Text Learning</h3>
			<p>This feature aims to help to children who have writing disabilities and poor communication skills. (It aims to help children with Dysgraphia.) Using this feature, children will be able to speak and the computer will write whatever they say down for them. This can also help in taking notes. </p>
		</div></a>
	</div>
</div>