<section class="footer">
  <p>© 2021 SPED. All rights reserved.</p>
  <div id="icons">
    <a class="icon" href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a> 
    <a class="icon" href="https://twitter.com/" target="_blank"><i class="fab fa-instagram"></i></a> 
    <a class="icon" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</section>