<%# nslider cdn links %>
<head>
			<script src="https://cdn.jsdelivr.net/gh/fatihege/nslider@1.0.0/src/js/nslider.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fatihege/nslider@1.0.0/src/css/nslider.min.css" />
    <link rel="stylesheet" href="nslider.min.css" />
	</head>

	<%# parent container %>
	<div class="carouselContainer2">
				<h2>Articles</h2>
				<p>Here are some articles related on the broad topic of learning, give these a good read and read other articles related to the topic</p>
				<%# slider %>
    		<div class="nslider">
      	  <div class="nslider-wrapper">
            <div class="nslider-slide" id="slide-1">
						<%# card content %>
              <div class="galleryCard">
							 	<a href="https://emeraldworks.com/resources/blog/infographics/10-reasons-keep-learning" target="_blank">
								 <article>
								 	 <h2>Keep Learning!</h2>
									 <p>Sometimes motivation can be difficult during the process of learning, whether it be struggling to find reasons to carry on with the lengthy task of digesting new information into your brain or it just be feeling unenergetic, read this brief article on why you should carry on with learning new things by emeraldworks.</p>
									</article>
							</div>
            </div>
            <div class="nslider-slide" id="slide-2">
						<%# card content %>
               <div class="galleryCard">
							 	<a href="https://www.skillsyouneed.com/learn/learning.html" target="_blank">
								 <article>
								 	 <h2>What is Learning</h2>
									 <p>Cramming your head with information, applying things that you see around you, aquiring new information or skills… The list goes on, but what if we went deeper into the actual process of posessing new skills or knowledge? Put your brainpower to work by taking a look at this in-depth article on the process of taking in new information and applying it to your life.</p>
									</article>
							</div>
            </div>
						 <div class="nslider-slide" id="slide-3" target="_blank">
						<%# card content %>
               <div class="galleryCard">
							 	<a href="https://www.verywellmind.com/how-to-become-a-more-effective-learner-2795162">
								 <article>
								 	 <h2>Being a more effective learner</h2>
									 <p>Ever been certain you know about a specific topic but just can’t muster the brainpower sufficient enough to remember what you need to remember, you know its somewhere within the depths of your brain, your mind feels like its just gone blank? This unsurprisingly is a very common situation people will find themeselves in, read about how making your learning more effective can help with remembering those important details at the right times!</p>
									</article>
							</div>
            </div>
        </div>
        <div class="nslider-button nslider-button-prev"></div>
        <div class="nslider-button nslider-button-next"></div>
    		</div>
			</div>

		<script src="nslider.min.js"></script>
		<script type="text/javascript">
			// Carousel Slider
			// leave me alone I dont know javascript
		const slider2 = new NSlider({
        elem: document.querySelector('.carouselContainer2'),      
        animation: false,
        keyboardControl: false,
        dots: true,
    });
		</script>