<%# nslider cdn links %>
<head>
			<script src="https://cdn.jsdelivr.net/gh/fatihege/nslider@1.0.0/src/js/nslider.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fatihege/nslider@1.0.0/src/css/nslider.css" />
    <link rel="stylesheet" href="css/nslider.css" />
	</head>
	<%# parent container %>
	<div class="carouselContainer">
				<h2>Videos</h2>
				<p>Learning things in a visual manner can sometimes help with focus, as your attention is being captured by the content and can sometimes be very effective in learning new things, in all fields.<p>
				<%# slider %>
    		<div class="nslider">
      	  <div class="nslider-wrapper">
            <div class="nslider-slide" id="slide-1">
						<%# card content %>
              <div class="galleryCard">
							 	<a href="https://www.youtube.com/watch?v=_nWMP68DqHE" target="_blank">
								 <img src="/media/thumbnail.png" alt="thumbnail" />
								 <article>
								 	 <h2>The Neuroscience behind learning</h2>
									 <p>Take an even more in depth look at how the brain learns knew things, and delve into the science behind a task becoming second nature. Its important to get an understanding on how the brain works, to help you care for your body more. Learn more in this brilliantly illustrated video on the neuroscience behind the thing we know as learning.</p>
									</article>
							</div>
            </div>
            <div class="nslider-slide" id="slide-2">
						<%# card content %>
               <div class="galleryCard">
							 	<a href="https://www.youtube.com/watch?v=p60rN9JEapg" target="_blank">
								 <img src="/media/thumbnail2.png" alt="thumbnail" />
								 <article>
								 	 <h2>Best scientific tips on learning</h2>
									 <p>On the topic on science and learning, here are the top 9 scientific tips to aid with studying, or it can be applied to learning in general. This video describes some of the best ways you can boost your learning process, whilst displaying visual examples to match whats being said.</p>
									</article>
							</div>
            </div>
						 <div class="nslider-slide" id="slide-3">
						<%# card content %>
               <div class="galleryCard">
							 	<a href="https://www.youtube.com/watch?v=MlJdMr3O5J4" target="_blank">
								 <img src="/media/thumbnail3.png" alt="thumbnail" />

								 <article>
								 	 <h2>How to study more effectively</h2>
									 <p>This video is filled with examples and small tips to help you be more effective with learning new content. Learn more about how repetitiveness can be used to help with memorizing brand new stuff, and learn about other peoples expiriences/stories on the fundamentals of learning.</p>
									</article>
							</div>
            </div>
        </div>
        <div class="nslider-button nslider-button-prev"></div>
        <div class="nslider-button nslider-button-next"></div>
    		</div>
			</div>

		<script src="js/nslider.js"></script>
		<script type="text/javascript">
			// Carousel Slider
		const slider = new NSlider({
        elem: document.querySelector('.carouselContainer'),      
        animation: false,
        keyboardControl: false,
        dots: true,
    });
		</script>