<section class="hero">
	<img src="/media/topItem.svg" class="topItem" />
		<span class="heroWrap">
			<article>
				<h1>Specialized  
        <span	class="headerSecondaryText">Education</span>
        </h1>
				<p>SPED also known as Specialized Education is a platform that aims to revolutionize remote learning for children with learning disablties (dyslexia, dysgraphia, auditory processing disorder, and visual perceptual). SPED establishes a fun & effective remote learning environment for children with learning disabilities and provides a effective and cost-free solutions to the problems that these children faced during remote learning previously.</p>

				<button class="buttonPrimary">Learn More</button>
			</article>
		<img class="art" src="/media/art.svg" />
		</span>
</section>