<section class="hero">
	<img src="/media/topItem.svg" class="topItem" />
		<span class="heroWrap">
			<article>
				<h1>Lorem <span	class="headerSecondaryText">Ipsum</span></h1>
				<p>Lorem ipsum dolor sit amet consectetur	adipisicing elit. Ipsam nesciunt fugit quod	sapiente architecto odio alias cum, officiis 		tempora, dolore enim.</p>
				<button class="learnMore">Learn More</button>
			</article>
		<img class="art" src="/media/art.svg" />
		</span>
</section>