<nav>
	<span class="navWrap">
		<a href="/"><img class="logo" src="/media/SPEDlogo.svg" /></a>
		<button onclick="toggleNavLinks()" class="hamburger">
			<svg viewBox="0 0 100 80" width="24" height="24" fill="#FFFFFF">
		  	<rect width="100" height="11"></rect>
		  	<rect y="30" width="100" height="11"></rect>
		  	<rect y="60" width="100" height="11"></rect>
			</svg>
		</button>
	</span>
	<span class="navLinksWrap">
		<ul id="navLinks">
			<li><a href="/">Home</a></li>
			<li><a href="/cam">Cam</a></li>
			<li><a href="/Ar">AR</a></li>
		</ul>
	</span
</nav>

<script>
	const toggleNavLinks = () => {
		let x = document.getElementById('navLinks');
		(x.style.display === 'none') ? x.style.display = 'block' : x.style.display = 'none';
	}
</script>