<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cam - SPED</title>
		<link rel="stylesheet" href="/styles/style.css" type="text/css" />
		<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
	</head>
	<body>
		<header>
			<%- include('../partials/nav') %>
		</header>

		<main>
			<img src="/media/topItem.svg" class="topItemLarge" />
			<div class="modal" id="modal"></div>
			<div class="cam">
				<h1>Cam</h1>
				<div class="camDisplay"></div>
				<button class="buttonPrimary" onclick="modalToggle()">Start</button>
			</div>
		</main>

		<%# lily you can the slides or whatever %> 
		<footer>
			<%- include('../partials/footer') %>
		</footer>
		<script>
			const modalToggle() = () => {
				const modal = document.getElementById('modal');
				(modal.style.display === 'hidden') ? modal.style.display = 'show' : modal.style.display = 'hidden';
			}
		</script>
	</body>
</html>