<!DOCTYPE html>
<html lang="en">
	<head>
		<%# Head %>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, 	initial-scale=1.0">
		<title>Home - SPED</title>
		<link rel="stylesheet" href="/styles/style.css" type="text/css" />
		<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
		<link rel="icon" type="image/svg" href="/media/SPEDlogo.svg" />
    <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
	</head>
	<%# End of head %>

	<body>
		<%# Import Navbar from partials (EJS equivalent to React components) %>
		<header>
			<%- include('../partials/nav') %>
		</header>

		<%# Main Content %>
		<main>
			<%# Import Hero + Cards %>
			<%- include('../partials/hero') %>
			<%- include('../partials/cards') %>
			<%# Absolute SVG that is displayed on page %>
			<img src="/media/ellipse.svg" class="ellipse" />
			<img src="/media/ellipseLeft.svg" class="ellipseLeft" />

			<%# Text about SPED %>
			<article class="homeText">
				<h2>Why</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt fugit quod sapiente architecto odio alias cum, officiis tempora, dolore enim.</p>
			</article>

			<article class="homeText">
				<h2>Inspiration</h2>
				<p>Remote learning poses challenges to everyone, but especially up to <b>10%</b> of students who have learning disabilities. A lot of them don’t have the same resources as they do at school, which may lead to problems. So we created this website that can help students learn better and provide information for teachers to be able to help their students better.</p>
			</article>
			
			<%# Absolute SVGs that are displayed on page %>
			<div class="okWrap"><img src="/media/ok.svg" class="ok" /></div>
			<img src="/media/bottomItem.svg" class="bottomItem" />
		</main>
		<%# End of main content %>

		<%# Import Footer %>
		<footer>
			<%- include('../partials/footer') %>
		</footer>
	</body>
</html>