<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>VR - SPED</title>
		<link rel="stylesheet" href="/styles/style.css" type="text/css" />
		<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
		<link rel="icon" type="image/svg" href="/media/SPEDlogo.svg" />
	</head>
	<body>
		<header>
			<%- include('../partials/nav') %>
		</header>

		<main>
			<img src="/media/topItem.svg" class="topItemLarge" />
			<article class="vrHeader">
				<h1>Augmented Reality</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt fugit quod sapiente architecto odio alias cum, officiis tempora, dolore enim.</p>
			</article>
		</main>

		<footer>
			<%- include('../partials/footer') %>
		</footer>
	</body>
</html>