@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* we can actually call the colours smth useful once we think of pallete */
	--primary: #15278b;
	--primaryDark: #0c185d;
	--secondary: #FFFFFF;
}

html, body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100vh;
}

/* nav */

nav {
	background-color: var(--primary);
	color: var(--secondary);
	height: auto;
	padding: 7px 2px;
	/* width: 100%;
	display: flex;
	justify-content: end; */
}

nav .navWrap {
	display: flex;
	justify-content: end; /* When we have logo we can set justify-content to space-evenly */
}

nav .navLinksWrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1px 3px;
}

nav .navLinksWrap ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 2px 0px;
}

nav .navLinksWrap ul * {
	list-style-type: none;
	cursor: pointer;
	font-size: 17px;
	padding: 6px 8px;
	border-radius: 7px;
	transition: all 350ms ease-out;
	display: flex;
	background: var(--primary)
}

nav .navLinksWrap ul *:hover, nav .navLinksWrap ul *:active {
	transition: all 350ms ease-out;
	background-color: var(--primaryDark);
}

/* hamburger menu */

.hamburger {
	display: flex;
	width: max-content;
	height: auto;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 7px;
	border-radius: 7px;
	transition: all 350ms ease-out;
}

.hamburger:hover, .hamburger:active {
	transition: all 350ms ease-out;
	background-color: var(--primaryDark);
}

/* mobile first design :lilygunemote: */

@media only screen and (min-width: 480px) {
	nav {
		padding: 4px 2px;
	}
	nav .navLinksWrap ul {
		flex-direction: row;
		justify-content: end;
		padding: 12px 14px;
		display: flex !important;
		gap: 2px;
	}
	nav .navLinksWrap ul * {
		border-radius: 0;
		font-size: 16px;
		width: max-content;
	}
	nav .navLinksWrap ul *:hover, nav .navLinksWrap ul *:active {
		background-color: inherit;
	}
	.hamburger {
		display: none;
	}
}