@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  scroll-behavior: smooth;
}

:root {
	--primary:  #B998FC;
	--primaryLight: #cdb3ffdc;
	--primaryDark: #7B4CDB;
	/* --secondary: ; */
  --text:#343A40;
  --textLight:#6C7686;
  --white: #ffffff;
  --shadow: 0 0 1.25rem rgb(108 118 134 / 10%) ;
}

html, body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	width: 100vw;
	min-height: 100vh;
  background: #fafbfe;
  overflow-x: hidden;
	position: relative;
}

/* ________hero_________ */

.hero {
	margin: 5em auto;
}

.hero .heroWrap {
	position: relative;
	z-index: 100;
	display: flex;
  flex-direction: column;
	justify-content: center;
  gap:3em;
}

.hero .topItem, .topItemLarge {
	position: absolute;
	top: 0;
	left: 0;
  width: 90%;
	max-width: 400px;
	z-index: 0;
}

.topItemLarge {
	max-width: 660px !important;
}

.hero .heroWrap article {
	max-width: 550px;
	padding: 8px 34px;
}

.hero .heroWrap article h1, .cam h1, .vrHeader h1, .speechRecHeader h1 {
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 4rem;
}

.hero .heroWrap article h1 .headerSecondaryText {
	color: var(--primaryDark);
}

.hero .heroWrap article p {
	font-size: 18px;
	padding: 1em 0px 2em 0;
	font-weight: 200;
}

.hero .heroWrap .art {
	max-width: 700px;
  width: 90%;
}

/* ________cards________ */

.features {
	width: 100%;
	padding: 0 15px;
	text-align: center;
  position: relative;
	z-index: 50;
}

.heading{
	margin: 4em auto;
}

.heading p {margin-bottom: 1rem;}

.cards{
  max-width: 800px;
	display:flex;
	justify-content:center;
  align-items: stretch;
	flex-wrap:wrap;
	gap: 3em;
  margin: 0 auto;
}

.cards  img{
	width: 80px;
	border-radius: 100%;
	margin:0 auto;
	margin-bottom: 1.5em;
}

.cards h3 {
  max-width: 200px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--primaryDark);
}

.card {
	width: 90%;
	max-width: 350px;
  display: flex;
  flex-direction: column;
	background:#fff;
  border: .0625rem solid rgba(0, 0, 0, .08);
  border-radius: .375rem;
	box-shadow:var(--shadow);
	gap: .7em;
	padding:2em;
  z-index: 2;
}


.cards a{
  display: contents;
  left:0px;
}

/* _____dots_____ */
.dots{position: absolute;}

.features .dots{
  left: 22%;
  top: 8%;
}
.arCardsWrap .dots{
  left: 5%;
  top: 0%;
}

/* ________arCards________ */

.arCardsWrap {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 14px;
	padding: 20px 0px;
}

.arCards {
	max-width: 400px;
	width: 80%;
	height: 600px;
	text-align: center;
	background-color: var(--white);
	box-shadow: var(--shadow);
	border-radius: .375rem;
  border: .0625rem solid rgba(0, 0, 0, .08);
	position: relative;
	z-index: 300;
	padding: 0px 0px 12px 0px;
}

.arCards article {
	padding: 24px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.arCards article h3 {
	font-size: 1.8em;
	font-weight: bold;
}

.arCards article p {
	padding: 14px 0px;
	font-size: 15px;
	max-width: 200px;
	text-align: center !important;
}

.arCards .arCardsAWrap {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}

.arCards .arCardsAWrap a {
	position: absolute;
	bottom: 22px;
}

/* .arCards .arCardsAWrap {
	display: flex;
	align-items: center;
	justify-content: center;
} */

/* .arCardWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #0000;
} */

.arCards .imgContainer {
	/* width: 100% !important; */
	height: 200px;
	background: #000;
	border-top-left-radius: .375rem;
	border-top-right-radius: .375rem;
}

.arCards .arCard1 {
	background: url('../media/skeleton.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center right !important;
	margin: 0 auto;
}

.arCards .arCard2 {
	background: url('../media/brain.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	margin: 0 auto;
}

.arCards .arCard3 {
	background: url('../media/skull.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	margin: 0 auto;
}

.arCards .arCard4 {
	background: url('../media/lungs.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	margin: 0 auto;
}

.arCards .arCard5 {
	background: url('../media/elephant.png') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center;
	margin: 0 auto;
}

.arCards .arCard6 {
	background: url('../media/articFox.png') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center;
	margin: 0 auto;
}

/* ________Cam________ */

.cam {
	padding: 40px 0px;
	z-index: 3000;
	position: relative;
	display: flex !important;
	gap: 22px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 420px;
	margin: 0 auto;
}

.camDisplay {
	background-color: var(--primary);
	width: 100%;
	height: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.camDisplay > * {
	width: 80%;
	max-width: 380px; 
}

.labelContainer {
	display: flex;
	width: 100%;
	justify-content: start;
	flex-direction: column;
	gap: 2px;
}



/*________SpeechRec________  */

.speechRecContainer {
	position: relative;
	z-index: 400;
	padding: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.speechRecContainer .app {
	width: 100%;
}

.speechRecContainer .app .input-single {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0px;
}

.speechRecContainer .app .input-single textarea {
	width: 100%;
	padding: 6px 10px;
	font-size: 15px;
	border: 1px solid rgba(0, 0, 0, .08);
	border-radius: .375rem;
	box-shadow: var(--shadow);
	font-family: 'Poppins', 'sans-serif';
}

.speechRecContainer .app .input-single textarea:focus {
	outline: none !important;
	border: 1px solid var(--primary);
}

.speechRecContainer .app .speechRecBtnsWrap {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 4px 0px;
}

.speechRecContainer .app .speechRecBtnsWrap button {
	width: max-content !important;
}

.speechRecContainer .app .speechRecRecogBtnsWrap {
	display: flex;
	flex-direction: row;
	gap: 12px;
	flex-wrap: wrap;
}

.speechRecContainer .app p {
	padding: 18px 0px;
	font-size: 18px;
}

.speechRecContainer .app .notes {
	padding: 14px;
	background-color: var(--primary);
	color: var(--white);
	width: 100%;
	border-radius: .375rem;
	overflow: auto;
	height: 600px;
}

.speechRecContainer .app .notes h3 {
	font-size: 2em;
	font-weight: bold;
	padding: 10px 0px;
}

.speechRecContainer .app .notes ul li {
	list-style-type: none;
	margin-bottom: 2px;
	width: 100%;
	border-radius: .375rem;
	padding: 6px 8px;
	transition: 200ms ease-in-out;
	position: relative;
}

.speechRecContainer .app .notes ul li:hover, .speechRecContainer .app ul li:active {
	background-color: var(--primaryLight);
	transition: 200ms ease-in-out;
}

.speechRecContainer .app .notes ul li p {
	display: flex;
	width: 70%;
}

.speechRecContainer .app ul li .noteBtnWrap {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	/* padding: 8px 0px; */
}

.speechRecContainer .app ul li .noteBtnWrap * {
	display: flex;
	justify-content: center;
	font-size: 13px;
	white-space: nowrap;
}

/* ______Slider_______ */

.carouselContainer, .carouselContainer2 {
	display: flex;
	padding: 28px 0px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	position: relative;
	z-index: 200;
}

.carouselContainer h2, .carouselContainer2 h2, .heading h2 {
	text-align: center;
	font-weight: bold;
	font-size: 2.5em;
}


.carouselContainer p, .carouselContainer2 p {
	text-align: center;
	font-weight: 200;
	font-size: 15px;
	max-width: 420px;
	padding: 1.3rem 0;
}

.nslider {
  max-width: 600px;
	width: 100%;
	height: 560px;
	position: relative;
	z-index: 500;
	padding: 8em 0px;
}

.nslider .nslider-dots .nslider-dot {
	background-color: var(--primaryDark) !important;
}

.nslider-button-prev, .nslider-button-next {
	display: none !important;
}

.galleryCard {
	background-color: var(--white);
	margin: 0 auto;
	width: 100%;
	max-width: 380px;
	height: 460px;
	color: var(--text);
	border: .0625rem solid rgba(0, 0, 0, .08);
  border-radius: .375rem;
	box-shadow:var(--shadow);
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.galleryCard img {
	max-width: 380px;
	width: 100%;
}

.galleryCard article {
	padding: 2em;
}

.galleryCard article h2 {
	text-align: center;
	font-weight: bolder;
	font-size: 2em !important;
}

.galleryCard article p {
	font-size: 15px;
	padding: 40px 0;
}

/*  */

.bottomItem {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	max-width: 400px;
	z-index: 0;
}

.bottomItemBig {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	max-width: 540px;
	z-index: 0;
}

.ellipse, .ellipseTwo {
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 0;
	width: 70%;
	max-width: 220px !important;
}

.ellipseTwo {
	top: 35%;
}

.ellipseLeft {
	position: absolute;
	left: 0;
	bottom: 15%;
	z-index: 0;
	width: 70%;
	max-width: 200px !important;
}


.okWrap, .arImgWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px !important;
}

.ok {
	width: 80%;
	max-width: 400px;
	position: relative;
	z-index: 300;
}

.logo {
	width: 70px;
	cursor: pointer;
	margin-left: 16px;
}

.arImg {
	margin: 0 auto;
	margin-top: 20px !important;
	width: 80%;
	max-width: 1000px;
}

.buttonPrimary {
	background-color: var(--primaryDark);
	color: var(--white);
	font-size: 16px;
	padding: 12px 30px;
	border-radius: 3.5px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 200ms ease-in-out;
}

.buttonPrimary:hover {
	background-color: var(--primary);
	transition: 200ms ease-in-out;
}

.homeText {
	/* max-width: 400px; */
	text-align: center;
	gap: 12px;
	padding: 60px 0px;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 300;
}

.homeText h2 {
	text-align: center;
	font-weight: bold;
	font-size: 2.5em;
}

.homeText p {
	max-width: 650px;
	width: 80%;
	font-size: 14px;
	font-weight: 200;
}

.vrHeader, .speechRecHeader {
	position: relative;
	z-index: 300;
	text-align: center;
	padding: 60px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.vrHeader p, .speechRecHeader p {
	max-width: 900px;
  padding: 1em 2em;
}

/* ________footer________ */

.footer {
	/* position: absolute;
	bottom: 0; */
	margin-top: 20px;
	background: var(--primaryDark);
	padding: 20px 40px;
	width: 100%;
	position: relative;
	z-index: 900;
  display: inline-flex;
  justify-content: space-between;
  color: var(--white);
}

.footer a{
  color:#fafbfe;
  width:50%;
  padding: 0 .2em;
}
/* mobile first design :lilygunemote: */

@media only screen and (min-width: 480px) {
	nav {
		padding: 10px 20px;
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	nav .navLinksWrap ul {
		flex-direction: row;
		justify-content: flex-end;
		display: flex !important;
		gap: 8px;
	}
	nav .navLinksWrap ul *:hover, nav .navLinksWrap ul *:active {
		background-color: inherit;
	}
	.hamburger {display: none;}
	/* .hero  */
	.cam {
		padding: 80px 0px;
	}
	.ok {
		max-width: 480px;
	}
	.speechRecContainer .app {
		width: 88%;
	}
	.speechRecContainer .app ul li .noteBtnWrap {
		gap: 50px !important;
	}
	.speechRecContainer .app ul li .noteBtnWrap {
		font-size: 18px !important;
		width: 100% !important;
	}
	.nslider {
		width: 70% !important;
	}
	.galleryCard article h2 {
		font-size: 2.2em;
		font-weight: bold;
	}
}

@media only screen and (min-width: 620px) {
	.hero .heroWrap {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
	}
	.cam {
		max-width: 560px;
	}
	.camDisplay {
		height: 300px;
	}
	.ok {
		max-width: 600px;
	}
	.homeText p {
		font-size: 18px;
	}
	.arCardsWrap {
		flex-direction: row;
		justify-content: center;
		gap: 34px;
    max-width: 1000px;
    margin: auto;
	}
	.arCards {
		max-width: 300px;
	}
	.arCards article p {
		font-size: 18px;
	}
	.speechRecBtnsWrap .app {
		width: 60% !important;
	}
  .arCardsWrap .dots{
  left: -3%;
  top: -2%;
  }
}

a {
  color: black;
  text-decoration: none;
}
