@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: #B998FC;
	--primaryDark: #7B4CDB;
	/* --secondary: ; */

  --text:#343A40;
  --textLight:#6C7686;

  --white: #ffffff;
  --shadow: 0 0 1.25rem rgb(108 118 134 / 10%) ;
;
}

html, body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	width: 100vw;
	height: 100vh;
  background: #fafbfe;
  overflow-x: hidden;
}

/* ________hero_________ */

.hero {
	margin: 5em auto;
}

.hero .heroWrap {
	position: relative;
	z-index: 100;
	display: flex;
  flex-direction: column;
	justify-content: center;
  gap:3em;
}

.hero .topItem {
	position: absolute;
	top: 0;
	left: 0;
  width: 90%;
	max-width: 400px;
	z-index: 0;
}

.hero .heroWrap article {
	max-width: 480px;
	padding: 8px 34px;
}

.hero .heroWrap article h1 {
	font-size: 3.2rem;
	font-weight: bold;
	line-height: 3.2rem;
}

.hero .heroWrap article h1 .headerSecondaryText {
	color: var(--primaryDark);
}

.hero .heroWrap article p {
	font-size: 18px;
	padding: 34px 0px;
	font-weight: 200;
}

.hero .heroWrap article .learnMore {
	background-color: var(--primaryDark);
	color: var(--white);
	font-size: 16px;
	padding: 12px 30px;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
}

.hero .heroWrap .art {
	max-width: 700px;
  width: 90%;
}

/* ________cards________ */

.features {
	width: 100%;
	padding: 0 15px;
	text-align: center;
  position: relative;
}

.heading{
	margin: 4em auto;
}

.heading h2{
	font-size: 2rem;
	margin-bottom: .5em;
}

.heading h3 {font-size: 1.2rem;}

.heading p {margin-bottom: 1rem;}

.cards{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	gap: 2em;
}

.cards  img{
	width: 80px;
	border-radius: 100%;
	margin:0 auto;
	margin-bottom: 1.5em;
}

.card {
	width: 80%;
	max-width: 300px;
  display: flex;
  flex-direction: column;
	background:#fff;
	justify-content: center;
  border: .0625rem solid rgba(0, 0, 0, .08);
  border-radius: .375rem;
	box-shadow:var(--shadow);
	gap:.5em;
	padding:2em 1em;
}


/* mobile first design :lilygunemote: */

@media only screen and (min-width: 480px) {
	nav {
		padding: 10px 20px;
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	nav .navLinksWrap ul {
		flex-direction: row;
		justify-content: flex-end;
		display: flex !important;
		gap: 8px;
	}
	nav .navLinksWrap ul *:hover, nav .navLinksWrap ul *:active {
		background-color: inherit;
	}
	.hamburger {display: none;}
	/* .hero  */
}

@media only screen and (min-width: 620px) {
	.hero .heroWrap {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
	}
}

